/* You can add global styles to this file, and also import other style files */
.header {
position : relative;
top: 0;
width: 100%;
height: 30px;
background-color: rgb(109, 0, 128);
text-align: center;
color: white;
}

.footer {
position : absolute;
bottom: 0;
width: 100%;
height: 30px;
background-color: rgb(109, 0, 128);
text-align: center;
color: white;
}